{% extends 'adminLayout.html.twig' %}

{% block content %}

    <style type="text/css">
        @media screen and (max-width: 768px) {
            .page-title {
                text-align: center;
                padding-top: 15px;
                font-weight: bold;
                font-size: 20px;
            }
        }
    </style>

    <h1 class="page-title animated fadeInLeft">Liste des commentaires</h1>
    <table class="table table-hover table-responsive-sm animated fadeInRight">
        <thead class="thead-dark">
        <tr>
            <th>Contenu</th>
            <th>Article</th>
            <th>User</th>
            <th class="coloneDisplay">Date / Heure</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr data-toggle="tooltip" data-placement="bottom" data-html="true" title="{{ comment.comment }}">
                <td>{{ comment.comment[:50] ~ '...'  }}</td>
                <td class="coloneDisplay">{{ comment.title}}</td>
                <td>{{ comment.name}}</td>
                <td class="coloneDisplay">{{ comment.date|date('d/m/Y H:i')}}</td>
                <td>
                    <a onclick="deleteComment({{ comment.id }}, '{{ comment.comment[:50] ~ '...'  }}')" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash"></i></a>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script src="/assets/js/delete.js"></script>

{% endblock %}