{% extends 'adminLayout.html.twig' %}

{% block content %}

    <h1>Liste des commentaires</h1>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Contenu</th>
            <th>Article</th>
            <th>User</th>
            <th class="coloneDisplay">Date / Heure</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr data-toggle="tooltip" data-placement="bottom" data-html="true" title="{{ comment.comment }}">
                <td>{{ comment.comment[:50] ~ '...'  }}</td>
                <td>{{ comment.title}}</td>
                <td>{{ comment.name}}</td>
                <td class="coloneDisplay">{{ comment.date|date('d/m/Y H:i')}}</td>
                <td>
                    <a type="button" href="/admin/comment/delete/{{ comment.id}}" class="btn btn-outline-warning"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}