{% extends 'layout.html.twig' %}

{% block content %}

    <style type="text/css">
        
        @media screen and (min-width: 768px) {
            .img_article {
                width: 40%;
                margin-right: 12px;
            }
            .article_title {
                font-size: 25px;
            }
            .comment-img {
                display: none;
            }
        }
        
        .article_text {
            padding-top: 20px;
        }


        /* comments block */

        .card-inner{
            margin-left: 4rem;
        }

        .comment-block {
            margin-top: 10px;
        }

    </style>
    <div class="container">
        <div class="panel_info">
            <h2 class="article_title">{{ article.title }}</h2>
            <h6>Ajouté le {{ article.date|date("d/m/Y à h:i:s") }}</h6>

        </div>
        <hr>

        <div class="row">


            <div class="col-12">

                <div class="article_text">
                    <img style="align-content: center;" src="/assets/images/{{ article.imageName }}" class="float-left img-thumbnail img_article">
                    <p class="text-justify">
                        {{ article.content|nl2br }}
                    </p>
                </div>
            </div>
            <hr>
        </div>

        <hr>

        <div class="row">

            <div class="col-md-12">
                {% if(session.user) %}
                    <form method="post">
                        <div class="form-group">
                            <label for="comment">Votre commentaire : </label>
                            <textarea name="comment" rows="4" cols="30" class="form-control" placeholder="Votre commentaire"></textarea>
                        </div>
                        <div class="row justify-content-center pb-5">
                            <input type="submit" style="background-color: #6D909C; border-color: #6D909C;" class="btn btn-success" value="Envoyer">
                        </div>
                    </form>
                {% else %}
                    <div class="card">
                        <div class="card-body commentCard">
                            <p>Vous devez vous connecter ou inscrire pour ajouter un commentaire à l'article.</p>
                            <a style="text-decoration: none" href="/connexion">
                                <button type="button" class="btn btn-secondary btn-sm">Connexion</button>
                            </a>
                            <a href="/inscription">
                                <button type="button" class="btn btn-secondary btn-sm ml-3">Inscription</button>
                            </a>
                        </div>
                    </div>
                    <hr>
                {% endif %}

            </div><!-- col-md-12 -->

                {% for comment in comments %}

                    <div class="col-md-12">
                        <div class="card comment-block">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <img src="/assets/images/avatar.png" style="width: 50%" class="img img-rounded img-fluid comment-img"/>
                                        <p class="text-secondary text-center"></p>
                                    </div>
                                    <div class="col-md-8">
                                        <p style="padding-top: 10px;">
                                            <a class="float-left"><strong> {{ comment.name }} {{ comment.firstname }}</strong></a>
                                            <a class="float-right"> Le {{ comment.date|date("d/m/Y à h:i:s") }}</a>
                                        </p>
                                        <br/>
                                        <div class="clearfix"></div>
                                        <p class="text-justify">{{ comment.comment|nl2br }}</p>
                                        <p>

                                           <!-- <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> </a> -->

                                            {% if(session.user) %}
                                                {% if(session.user.id == comment.userid) %}
                                                    <a href="/comment/delete/{{ comment.id }}" class="float-right btn text-white btn-danger"> <i class="fa fa-trash"></i></a>
                                                {% endif %}
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                {% endfor %}

        </div><!-- close row -->
    </div><!-- Container -->

{% endblock %}