{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Item {{ article.titre }}</h1>
    <p>{{ article.id }}. {{ article.titre }}</p>
    <p>{{ article.id }}. {{ article.contenu }}</p>
{% endblock %}
