{% extends 'layout.html.twig' %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="row">
   
        <div class="col-12 col-lg-6 offset-1">

            <h2>Category : <span class="orange">Actualités à la Wild</span></h2>
        </div>
        <div class="col-12 col-lg-2 offset-2 mt-2">
            <a href="/articles">
                <button type="button" class="btn btn-secondary btn-sm">Liste articles</button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1">
            <hr>
        </div>
    </div>
    <div class="row">

        <div class="col-10 offset-1">

            <img style="float: left; max-width: 50%;" class="img-fluid mr-3 mb-1" src="/assets/images/{{ article.imageName }}" alt="" >

                <h1>{{ article.title }}</h1>
                <p class="text-justify">{{ article.content|nl2br }}</p>


        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <form method="post">
                <div class="form-group">
                    <label for="comment">Votre commentaire : </label>
                    <textarea name="comment" rows="2" cols="30" class="form-control" placeholder="Votre commentaire"></textarea>
                </div>
                <div style="padding-bottom: 20px;">
                    <input type="submit" style="background-color: #6D909C; border-color: #6D909C;" class="btn btn-success" value="Envoyer">
                </div>
            </form>

        </div>
    </div>

    <div class="row">
        {% for comment in comments %}
        <div class="col-2 offset-2">

            <h5>{{ comment.name ~ ' ' ~ comment.firstname }}</h5>
            <span class="orange">{{ comment.date }}</span>
        </div>

        <div class="col-6 rounded bg-light mb-4">
            <p class="p-2 text-justify">{{ comment.comment|nl2br }}</p>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}