{% extends 'layout.html.twig' %}

{% block content %}
<div class="container mt-4">
    <div class="row">

        <div class="col-12 col-lg-6">

            <h2>Category : <span class="orange">Actualités à la Wild</span></h2>
        </div>
        <div class="col-12 col-lg-2 offset-3 mt-2">
            <a class="orange" href="/articles">
                <button type="button" class="btn btn-secondary btn">Liste articles</button>
            </a>
        </div>
    </div>
    <hr>

    <div class="row">

        <div class="col-md-9">

            <div class="">

                <img class="img-fluid mr-3 mb-1 imgArticle" src="/assets/images/{{ article.imageName }}" alt="" >

                    <h1>{{ article.title }}</h1>
                    <p class="text-justify">{{ article.content|nl2br }}</p>
                    <p class="text-justify publish py-3">Publié le {{ article.date }}</p>
            </div>
            <div class="row">
                <div class="col-10 offset-1">
                    <form method="post">
                        <div class="form-group">
                            <label for="comment">Votre commentaire : </label>
                            <textarea name="comment" rows="4" cols="30" class="form-control" placeholder="Votre commentaire"></textarea>
                        </div>
                        <div class="row justify-content-center pb-5">
                                <input type="submit" style="background-color: #6D909C; border-color: #6D909C;" class="btn btn-success" value="Envoyer">
                        </div>
                    </form>

                </div>
            </div>

            <div class="row">
                {% for comment in comments %}
                <div class="col-2 offset-1">

                    <h5>{{ comment.firstname ~ ' ' ~ comment.name }}</h5>
                    <span class="orange">{{ comment.date }}</span>
                </div>

                <div class="col-8 rounded bg-light mb-4">
                    <p class="p-2 text-justify">{{ comment.comment|nl2br }}</p>

                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3 mt-5">
            {% include 'User/category.html.twig' %}
        </div>

    </div>
</div>
{% endblock %}
