{% extends 'adminLayout.html.twig' %}

{% block content %}

    <style type="text/css">
        @media screen and (max-width: 768px) {
            .page-title {
                text-align: center;
                padding-top: 15px;
                font-weight: bold;
                font-size: 20px;
            }
        }
    </style>

    <div class="row">
        <div class="col-lg-8">
            <h1 class="page-title animated fadeInLeft">Liste des utilisateurs</h1>
        </div>
        <div style="text-align: center" class="col-lg-2">
            <div style="padding-bottom: 20px;">
                <a href="/admin/user/add"><input type="submit" style="background-color: #6D909C; border-color: #6D909C;" class="btn btn-success animated tada" value="Ajouter un utilisateur"></a>
            </div>
        </div>
    </div>



    <table class="table table-hover table-responsive-sm animated fadeInRight">
        <thead class="thead-dark">
        <tr>
            <th>Nom</th>
            <th class="coloneDisplay">Prénom</th>
            <th class="">Mail</th>
            <th>Statut</th>
            <th class="coloneDisplay">Date d'inscription</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td class="coloneDisplay">{{ user.firstname }}</td>
                <td>{{ user.mail }}</td>
                <td>{{ user.statusid == "1" ? 'Admin' : "Utilisateur" }}</td>
                <td class="coloneDisplay">{{ user.date|date("d/m/Y") }}</td>
                <td>

                    <a onclick="deleteUser({{ user.id }}, '{{ user.name }}', '{{ user.firstname }}')" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash"></i></a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script src="/assets/js/delete.js"></script>

{% endblock %}