{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container emp-profile">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="assets/images/avatar.png" alt=""/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h2>
                            Bonjour {{ session.user["firstname"] }} {{ session.user["name"] }}
                        </h2>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Informations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Mes contributions</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <a class="profile-edit-btn">Logo FA a venir</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-work">
                        <p></p>
                        <a href=""> </a><br/>
                        <a href=""></a><br/>
                        <a href=""></a>
                        <p></p>
                        <a href=""> </a><br/>
                        <a href=""> </a><br/>
                        <a href=""></a><br/>
                        <a href=""></a><br/>
                        <a href=""></a><br/>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ session.user["mail"] }}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Statut :</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ session.user["status_id"] == "1" ? 'Admin' : "Utilisateur" }}</p>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                            {% if(allComments) %}

                                {% for comment in allComments %}

                                    <div class="col-md-12" style="padding-bottom: 10px;">
                                        <div class="card">
                                            <div class="card-header">
                                                {{ "Commentaire" }}
                                            </div>
                                            <div class="card-body">
                                                <blockquote class="blockquote mb-0">
                                                    <p>{{ comment.comment }}</p>
                                                    <footer class="blockquote-footer">sur l'article <cite title="Source Title">{{ "Titre article" }}</cite></footer>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}

                                {% else %}

                                    <div class="col-md-12" style="padding-bottom: 10px;">
                                        <div class="card">
                                            <div class="card-body">
                                                    <p>Aucunes contributions </p>
                                            </div>
                                        </div>
                                    </div>

                            {% endif %}

                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>


{% endblock %}
